//
//  Release.xcconfig
//  SUICTemplate
//
//  Created by Saul Moreno Abril on 22/02/2020.
//  Copyright © 2020 Saul Moreno Abril. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
ROOT_URL = https:/$()/www.suictemplate.com

// App Settings
APP_NAME = SUIC
APP_BUNDLE_ID = com.saulmorenoabril.SwiftUI-Combine-Template
